/*CSS variables*/
:root{
    /*colour variables */
    --primaryColor: red;
    --secondaryColor: lightcoral;
    --accentcolor: forestgreen;
    --lightColor:#fdfdfd;
    --darkColor:#0d0d0d;

/*spacing variables*/
    --smallSpace: 8px;
    --mediumSpace: 16px;
    --largeSpace: 24px;

    /*font  variables*/
    --headingFont:fantasy;
    --mainFont:Arial;

}

/*GLOBAL*/
.flex
    {
        display: flex;
    }
.flexColumn{
    display:flex ;
        flex-direction: column;
    }
.flexCenter {
    align-items: center;
    justify-content: center;
}
.flexCenterBetween{
    align-items: center;
    justify-content: space-between;
}
.flexGap{
    gap: var(--mediumSpace);
}

/*LOCAL*/
/*Heaeer*/
.headerNavList{
    list-style-type: none; 
}

.navListLink{
    text-decoration: none;
    color: var(--darkColor);
}

.header{
    background-color: var(--secondaryColor);
}

.footer{
    background-color: var(--secondaryColor);
}


